<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap mp uap3 rescap desktop">
  <Identity Name="36835MahdiGhiasi.Roamit" Publisher="CN=980F2E87-1831-4300-B1DC-4FDADD353F32" Version="2.7.1.0" />
  <mp:PhoneIdentity PhoneProductId="7a5f9ba7-c071-47b3-9aba-d0fba6f57503" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Roamit</DisplayName>
    <PublisherDisplayName>Mahdi Ghiasi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.15063.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="QuickShare.App">
      <uap:VisualElements DisplayName="Roamit" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Roamit" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#111111" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="QuickShare.ServiceTask.CommunicationService">
          <uap3:AppService Name="com.roamit.service" SupportsRemoteSystems="true"/>
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap3:AppService Name="com.roamit.serviceinapp" SupportsRemoteSystems="true"/>
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap3:AppService Name="com.roamit.messagecarrierservice" SupportsRemoteSystems="true"/>
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="com.roamit.notificationservice" />
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="com.roamit.pcservice" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="roamit">
            <uap:Logo>Assets\Logo.png</uap:Logo>
            <uap:DisplayName>Roamit</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>URI</uap:DataFormat>
            <uap:DataFormat>WebLink</uap:DataFormat>
            <uap:DataFormat>ApplicationLink</uap:DataFormat>
            <uap:DataFormat>StorageItems</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="PCExtension/RoamitPCExtension.exe" />
        <desktop:Extension Category="windows.startupTask" Executable="PCExtension/RoamitPCExtension.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="RoamitStartupTask" Enabled="false" DisplayName="Roamit" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <uap3:Capability Name="remoteSystem" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="videosLibrary" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>