body {
    background-color: #1A1A1A;
    color: #eee;
}


.mdl-button--fab.mdl-button--colored {
    background: #004E8C;
    border: 1px #0078D7 solid;
}

.mdl-button--fab.mdl-button--colored:hover {
    background-color: #004E8C;
}
.mdl-button--fab.mdl-button--colored:focus:not(:active) {
    background-color: #004E8C;
}
.mdl-button--fab.mdl-button--colored:active {
    background-color: #004E8C
}
.mdl-button--fab.mdl-button--colored .mdl-ripple {
    background: rgb(160, 160, 200)
}


.mdl-button--fab.mdl-button--colored[disabled][disabled] {
    background:  rgb(0,34,62);
    border: 0.5px #003966 solid;
}

.mdl-button--fab.mdl-button--colored[disabled][disabled] .actionbutton-content {
    opacity:0.5;
}

.mdl-layout__header {
    background-color: #1A1A1A;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background: #004E8C;
    border: 1px #0078D7 solid;
    color: white;
}

.footer-triangle {
    border-color: transparent transparent #0078D7 transparent;
}

.footer-inside {
    background-color: #0078D7;
}

.footer-extra {
    background-color: #0078D7;
}

.mdl-button--colored[disabled][disabled], .mdl-button--colored.mdl-button--disabled.mdl-button--disabled {
    color: rgba(255,255,255,.9) !important;
}

.mdl-button--icon {
    color: #eee;
}

.line, .line2 {
    background-color: #ccc;
}


.progress {
    background-color: #1A1A1A;
    font-weight: 400;
}

.progressbar-text {
    color: #ddd;
}

.mdl-spinner--single-color .mdl-spinner__layer-1, .mdl-spinner--single-color .mdl-spinner__layer-2, .mdl-spinner--single-color .mdl-spinner__layer-3, .mdl-spinner--single-color .mdl-spinner__layer-4 {
    border-color: #0078D7;
}
