body {
    background-color: #eee;
}

.footer-extra {
    background-color: #F44336;
    color: white;
    width: 100%;
    height: 220px;
    top: 100%;
    position: fixed;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.footer-extra ul {
    margin-top: 0px;
    color: white;
    height: 100%;
    overflow: scroll;
}

.footer-extra ul .mdl-list__item {
    color: white;
    text-transform: none;
}

.footer-extra ul .mdl-list__item-icon {
    color: white;
    margin-right: 16px !important;
}

.footer {
    position: fixed;
    line-height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.footer-hide {
    -webkit-transform: translate(0, 100px) !important;
            transform: translate(0, 100px) !important;
}

.footer-expanded {
    -webkit-transform: translate(0, -220px) !important;
            transform: translate(0, -220px) !important;
}

.footer-inside {
    background-color: #F44336;
    color: white;
    padding-left: 20px;
    height: 80px;
}

.footer-triangle {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;

    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 15px;
    border-left-width: 100px;

    border-color: transparent transparent #F44336 transparent;
}

.footer-spinner {
    width: 35px;
    height: 35px;
    -webkit-filter: grayscale(100%) brightness(500%);
            filter: grayscale(100%) brightness(500%);
    position: absolute;
    top: 8px;
}

.footer-spinner-container {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
}

.footer-text {
    display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 22px;
    letter-spacing: .02em;
    font-weight: 400;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    width: calc(100% - 96px);
    height: 80px;
}

.footer-text-icon {
    margin-right: 12px;
    font-size: 26px;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
}

.footer-expand-button {
    display: block;
    float: right;
    height: 80px;
    width: 80px;
}

.footer-expand-icon {
    font-size: 40px;
    line-height: 80px;
    color: white;
}

.actionbuttons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    top: 50px;

    -webkit-transition: -webkit-transform 0.4s ease-out;

    transition: -webkit-transform 0.4s ease-out;

    transition: transform 0.4s ease-out;

    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.actionbuttons-landscape {
    -webkit-transform: translateY(125px);
            transform: translateY(125px);
}

@media (max-height: 375px) {
    .actionbuttons-landscape {
        -webkit-transform: translateY(90px);
                transform: translateY(90px);
    }
}

.actionbutton-content {
    height: 100%;
    width: 100%;
    display: table;
}

.actionbutton-content-inner {
    display: table-cell;
    vertical-align: middle;

    font-size: 16px;
    color: white;
    font-weight: 500;
}

.actionbutton-content-text {
    margin-top: 8px;
}

.actionbutton-content-text-small {
    margin-top: 4px;
    font-size: 14px;
}

.actionbutton-icon {
    position: relative !important;
    -webkit-transform: translate(0) !important;
    transform: translate(0) !important;
    top: 0 !important;
    left: 0 !important;
    line-height: 24px;
    width: 24px;
}

.actionbutton-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate( -50%, -50%);
            transform: translate( -50%, -50%);
    pointer-events: none;
}

    .actionbutton-center button {
        pointer-events: all;
    }

.actionbutton-big {
    width: 190px;
    height: 190px;
    -webkit-transform: translate(0, -90px);
            transform: translate(0, -90px);
    opacity: 1;

    -webkit-transition: opacity 0.2s linear, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440);

    transition: opacity 0.2s linear, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440);

    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440), opacity 0.2s linear;

    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440), opacity 0.2s linear, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440);
}

.actionbutton-big-initial {
    -webkit-transform: translate(0, -30px) !important;
            transform: translate(0, -30px) !important;
    opacity: 0 !important;
}

.actionbutton-big-minimal {
    -webkit-transform: translate(0, -160px) scale(0.8) !important;
            transform: translate(0, -160px) scale(0.8) !important;
}

.actionbutton-bottomright {
    width: 90px;
    height: 90px;
    -webkit-transform: translate(100px, 40px);
            transform: translate(100px, 40px);
    opacity: 1;

    -webkit-transition: opacity 0.2s linear 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.2s;

    transition: opacity 0.2s linear 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.2s;

    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.2s, opacity 0.2s linear 0.2s;

    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.2s, opacity 0.2s linear 0.2s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.2s;
}

.actionbutton-bottomright-initial {
    -webkit-transform: translate(60px, 0px) !important;
            transform: translate(60px, 0px) !important;
    opacity: 0 !important;
}

.actionbutton-bottomright-minimal {
    -webkit-transform: translate(130px, -120px) scale(0.9) !important;
            transform: translate(130px, -120px) scale(0.9) !important;
}


.actionbutton-bottomleft-container {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-105px, 70px);
            transform: translate(-105px, 70px);
    opacity: 1;

    -webkit-transition: opacity 0.2s linear 0.1s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.1s;

    transition: opacity 0.2s linear 0.1s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.1s;

    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.1s, opacity 0.2s linear 0.1s;

    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.1s, opacity 0.2s linear 0.1s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.365, 1.440) 0.1s;
}

.actionbutton-bottomleft-container-initial {
    -webkit-transform: translate(-65px, 30px) !important;
            transform: translate(-65px, 30px) !important;
    opacity: 0 !important;
}

.actionbutton-bottomleft-container-minimal {
    -webkit-transform: translate(-125px, -100px) scale(0.9) !important;
            transform: translate(-125px, -100px) scale(0.9) !important;
}

.actionbutton-bottomleft {
    width: 100px;
    height: 100px;
}

.actionbuttons-hide {
	display: none;
}

.line {
    background-color: black;
    width: 1px;
    height: 150px;
}

.line2 {
    background-color: black;
    height: 1px;
    width: 150px;
}

.actionbutton-clipboardpreview {
    font-size: 14px;
    text-transform: none;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    width: 500px;
    -webkit-transform: translate(43px, 11px);
            transform: translate(43px, 11px);
    text-align: left;
}

.actionbutton-clipboardOpenLink {
    font-size: 14px;
    text-transform: none;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    width: 500px;
    -webkit-transform: translate(43px, 33px);
            transform: translate(43px, 33px);
    text-align: left;
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;
}

.inlinebutton-disabled {
    color: gray;
    opacity: 0.7;
    cursor: default;
}

.actionbutton-clipboardpreview-container {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translate(35.35px, -64.65px);
            transform: translate(35.35px, -64.65px);
    z-index: -1;
}

.progress {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #eee;
    display: none;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.progress-show {
    display: block;
    opacity: 0;
}

.progress-show-finishedanim {
    opacity: 1;
}

.progress-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate( -50%, -50%);
            transform: translate( -50%, -50%);
    text-align: center;
    width: 80%;
}

.progress-status {
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 26px;
}

.progress-status-subtitle {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.progress-status-buttons {
    display: none;
}

    .progress-status-buttons.visible {
        margin-top: 100px;
        display: block;
    }

    .progress-status-buttons button {
        margin-left: 4px;
        margin-right: 4px;
    }

.progress-spinner {
    width: 120px;
    height: 120px;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

#spinner2 {
    width: 120px;
    height: 120px;
    position: relative;
}

.spinner-hidden {
    opacity: 0;
}

.spinner-show {
    opacity: 1;
    display: block;
}

.opacity-animation {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.opacity-animation-fast {
    -webkit-transition: opacity 0.125s linear;
    transition: opacity 0.125s linear;
}

.spinner-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.spinner-container.hidden {
    display: none;
}

.header-transparent {
	color: black; 
	background-color: transparent;
}

.mdl-layout__header {
    -webkit-transition: -webkit-transform ease-out 0.3s;
    transition: -webkit-transform ease-out 0.3s;
    transition: transform ease-out 0.3s;
    transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
}

.header-hide {
    -webkit-transform: translateY(-56px);
            transform: translateY(-56px);
}


.sharedialog {
	position: fixed;
    left: 0;
    right: 0;
    bottom: 95px;
    top: 56px;
    
    margin-bottom: 220px;

    -webkit-transition: margin-bottom 0.4s ease-out;

    transition: margin-bottom 0.4s ease-out;
}

@media (orientation: landscape)
{
    .sharedialog {
        margin-bottom: 0;
    }
}

.sharedialog-expanded {
    margin-bottom: 0;
}

.sharedialog-hide {
	display: none;
}


.sharedialog-content {
	width: 100%;
}

.sharedialog-preview {
    display: block;
    text-align: center;
    max-height: 100px;
    overflow: scroll;
    white-space: pre-wrap;
    word-wrap: break-word;

    padding-left: 20px;
    padding-right: 20px;

    -webkit-transition: max-height 0.4s ease-out;

    transition: max-height 0.4s ease-out;
}

.sharedialog-buttons {
	margin-top: 40px;
    text-align: center;	
    display:none;
}

    .sharedialog-buttons button {
        margin-left: 10px;
        margin-bottom: 10px;
        font-weight: 700;
    }

@media (min-width: 360px) {
    .sharedialog-buttons {
        padding-left: 20px;
        padding-right: 20px;
        text-align: right;
    }
        .sharedialog-buttons button {
            margin-bottom: 0;
        }
}

.mdl-button {
    margin-left: 12px;
}